# vscode
.vscode

# build
build/
.clang_complete
.gcc-flags.json
cppcheck.out.xml
debug.log

# platformio
.pio
pio_local.ini
/.VSCodeCounter

# OS specific
.DS_Store
*Thumbs.db
.directory

# project specfic
/scripts/stackdmp.txt
emsesp
/data/www
/lib/framework/WWWData.h
/interface/build
/interface/node_modules
/interface/.eslintcache
# /interface/package-lock.json # this file will be modified by npm! What can we do here?
package-lock.json
package.json
