# vscode
.vscode

# build
build/
.clang_complete
.gcc-flags.json
cppcheck.out.xml
debug.log

# platformio
.pio
pio_local.ini
/.VSCodeCounter

# OS specific
.DS_Store
*Thumbs.db

# project specfic
/scripts/stackdmp.txt
emsesp
/data/www
/lib/framework/WWWData.h
/interface/build
/interface/node_modules
/interface/.eslintcache

